<html>
<head>
	<title>Streaming my home</title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
	<h1>Streaming my home! </h1>
	<img src="{{ url_for('video_feed') }}">
	<br>
	<h1>statistics for temp and humid <h/1>
                        <img src="{{ url_for('static', filename='images/humids.png') }}">
	<br>
	<img src="{{ url_for('static', filename='images/temp.png') }}">
	</div>
	


</body>
</html>
                                                                             